<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="add" class="pkg4.Address" scope="prototype">
		<property name="street" value="Sector-57" />
		<property name="city" value="Noida" />
		<property name="zip" value="1234567" />
	</bean>
	<bean id="emp" class="pkg4.Employee">
	<lookup-method name="getMyAddress" bean="add"/>
	</bean>

</beans>
