<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="add" class="pkg3.ex1.Address">
		<property name="street" value="Sector-57" />
		<property name="city" value="Noida" />
		<property name="zip" value="1234567" />
	</bean>
	<bean id="emp" class="pkg3.ex1.Employee">
		<constructor-arg value="A006" />
		<constructor-arg value="Gagandeep Sharma" />
		<constructor-arg value="888888" />
		<constructor-arg ref="add" />
	</bean>

</beans>
