<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="add" class="pkg2.ex1.Address">
		<property name="street" value="Sector-57" />
		<property name="city" value="Noida" />
		<property name="zip" value="1234567" />
	</bean>
	
	<bean id="emp" class="pkg2.ex1.Employee">
		<property name="eid" value="A005" />
		<property name="name" value="Subodh Kumar" />
		<property name="salary" value="666666" />
		<property name="address" ref="add"/>
	</bean>

</beans>
